@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
:root{
    --firstColor: #80ED99;
    --secondColor: #45DFB1;
    --thirdColor: #0AD1C8;
    --fourthColor: #14919B;
    --fifthColor: #0B6477;
    --sixthColor: #213A57;
    --activeColor: #3BF4FB;
}
.active{
    color: var(--activeColor);
}
.ParentContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, #213A57,#0B6477,#14919B,#0AD1C8, #45DFB1,#80ED99);
}
header{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    background-image: linear-gradient(to right, #213A57,#0B6477,#14919B,#0AD1C8, #45DFB1,#80ED99);
    position: fixed;
}
.menu{
    margin-left: auto;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 100px;
    margin-right: 10px;
}
.heading-1{
    margin-left: 10px;
    font-size: 50px;
    color: var(--firstColor);
}
.icon{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--sixthColor);
}
#count{
    display: flex;
    align-items: center;
}
.count{
    position: absolute;
    margin-bottom: 50px;
    margin-left: 40px;
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    visibility: hidden;
}

/*search*/
.searchBox{
    margin-top: 120px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    font-size: 30px;
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    color: var(--sixthColor);
}
.input{
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 10px;
    border-bottom: 3px solid var(--sixthColor);
}
.input::placeholder{
    color: #fff;
    text-align: center;
}
.input.active{
    border: none;
}
/*filter*/
.filter{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    /* border: 3px solid red; */
}
.filterBox{
    /* border: 3px solid green; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:3px solid var(--sixthColor);
    color: #fff;
}
.checkbox{
    cursor: pointer;
    margin-right: 10px;
}
.label{
    cursor: pointer;
}
/*main*/
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 75px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 450px;
    width: 300px;
    margin-top: 50px;
    box-shadow: 0 50px 50px black;
}
.card:hover{
    transform: scale(1.1);
    transition: 1s ease-out;
}
.img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.description{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
}
.cuisine{
    font-size: 15px;
    margin-top: 20px;
    padding-left: 10px;
    font-weight: 500;
}
.cardBtn{
    display: flex;
    width: 100%;
    padding: 10px;
}
.btn{
    font-size: 15px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 700;
}